body {
  background-color: #75706b;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

p {
  align: center;
}

.topbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  
}

.topbar h1 {
  font-size: 96px;
  letter-spacing: -5px;
  color: #efefef;
  
}

.topbar .colorbar {
  letter-spacing: -23px;
  z-index: -1;
  position: absolute;
  width: 669px;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.topbar .colorbar .box {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: -2px;

}

div.listing {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
/*  -moz-columns: 20em;
  -webkit-columns: 20em;
  columns: 20em;
  -moz-column-gap: 1em;
  -webkit-column-gap: 1em;
  column-gap: 1em;*/
}

div.listing article {
/*  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;*/
  max-width: 20em;
}

div.listing img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  max-height: 60%;
  border-radius: 2em;
}

div.listing h2 {
  text-transform: uppercase;
  letter-spacing: -2px;
}

div.listing a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}


/* pretty it up! */

div.listing article {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 1em 0;
  background-color: #fff;
  padding: .5em;
}

div.listing article:first-child {
  /*margin-top: 0;*/
}

div.listing article.hot0 {
  background-color: #3d8eb9;
}

div.listing article.hot1 {
  background-color: #00a885;
}

div.listing article.hot2 {
  background-color: #41a85f;
}

div.listing article.hot3 {
  background-color: #fac51c;
}

div.listing article.hot4 {
  background-color: #f37934;
}

div.listing article.hot5 {
  background-color: #d14841;
}

div.listing article.hot6 {
  background-color: #b8312f;
}




/*
div.listing article:nth-child(odd) {
  background-color: #41a85f;
}
*/


/*

.grid-item {
  max-width: 350px;
  float: left; 
}

.newbox {
  border: solid;
  margin: 10px;
  padding: 10px;
  max-width: 315px;
  display: block;
  box-sizing: border-box;
  float: left;
}

.newbox img {
  max-width: 100%;
  opacity: 0.85;
  max-height: 60%;
}
*/


/*@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1347 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1347 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1347 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
  max-height: 60%;
}
.snip1347 .date {
  position: absolute;
  background-color: #1e1e1e;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px 25px 0;
  text-align: right;
  font-size: 0.8em;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.snip1347 .date:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 400px 55px 0;
  border-color: transparent #1e1e1e transparent transparent;
}
.snip1347 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 0 25px 25px;
  position: relative;
}
.snip1347 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1347 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1347 figcaption a:hover {
  opacity: 1;
}
.snip1347 h2 {
  margin: 0 0 10px;
  font-weight: 300;
  font-size: 1.5em;
  line-height: 1.2em;
}
.snip1347 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
body {
  background-color: #212121;
}
*/