body {
  background-color: #475577;  
}

p {
  color: white;
  font-size: 15px;
}

.btn {
  font-family: Michroma, sans;
  width: 60px;
  margin: 2px;
  color: white;
}

.btn-default {
  background-color: #A38F84;
  font-size: 15px
}

.btn-sign {}

.calcBody {
  background-color: #75706B;
  width: 300px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 1px 1px #34405b, 2px 2px #34405b, 3px 3px #34405b, 4px 4px #34405b, 5px 5px #34405b, 6px 6px #34405b, 7px 7px #34405b, 8px 8px #34405b, 9px 9px #34405b, 10px 10px #34405b, 11px 11px #34405b, 12px 12px #34405b, 13px 13px #34405b, 14px 14px #34405b, 15px 15px #34405b, 16px 16px #34405b, 17px 17px #34405b, 18px 18px #34405b, 19px 19px #34405b, 20px 20px #34405b, 21px 21px #34405b, 22px 22px #34405b, 23px 23px #34405b, 24px 24px #34405b, 25px 25px #34405b, 26px 26px #34405b, 27px 27px #34405b, 28px 28px #34405b, 29px 29px #34405b, 30px 30px #34405b, 31px 31px #34405b, 32px 32px #34405b, 33px 33px #34405b, 34px 34px #34405b, 35px 35px #34405b, 36px 36px #34405b, 37px 37px #34405b, 38px 38px #34405b, 39px 39px #34405b, 40px 40px #34405b, 41px 41px #34405b, 42px 42px #34405b, 43px 43px #34405b, 44px 44px #34405b, 45px 45px #34405b, 46px 46px #34405b, 47px 47px #34405b, 48px 48px #34405b, 49px 49px #34405b, 50px 50px #34405b, 51px 51px #34405b, 52px 52px #34405b, 53px 53px #34405b, 54px 54px #34405b, 55px 55px #34405b, 56px 56px #34405b, 57px 57px #34405b, 58px 58px #34405b, 59px 59px #34405b, 60px 60px #34405b, 61px 61px #34405b, 62px 62px #34405b, 63px 63px #34405b, 64px 64px #34405b, 65px 65px #34405b, 66px 66px #34405b, 67px 67px #34405b, 68px 68px #34405b, 69px 69px #34405b, 70px 70px #34405b, 71px 71px #34405b, 72px 72px #34405b, 73px 73px #34405b, 74px 74px #34405b, 75px 75px #34405b, 76px 76px #34405b, 77px 77px #34405b, 78px 78px #34405b, 79px 79px #34405b, 80px 80px #34405b, 81px 81px #34405b, 82px 82px #34405b, 83px 83px #34405b, 84px 84px #34405b, 85px 85px #34405b, 86px 86px #34405b, 87px 87px #34405b, 88px 88px #34405b, 89px 89px #34405b, 90px 90px #34405b, 91px 91px #34405b, 92px 92px #34405b, 93px 93px #34405b, 94px 94px #34405b, 95px 95px #34405b, 96px 96px #34405b, 97px 97px #34405b, 98px 98px #34405b, 99px 99px #34405b,
}

.calcDisplay {
  background-color: #000000;
  height: 35px;
  margin: 10px -5px 10px -5px;
  border-radius: 5px;
}

#result {
  color: rgba(184, 49, 47, 0.85);
  text-shadow: 0 0 3px #FF0000;
  text-align: right;
  vertical-align: text-bottom;
  font-family: VT323, sans;
  margin-right: 5px;
}

.calcButtons {}

.outerborder {
  border-style: solid;
  width: 537px;
  height: 522px;
  margin: 50px auto;
  border-width: 20px;
  border-color: #28324e;
  border-color: white;
  border-radius: 30px;
}

#brand {
  align: center;
  color: white;
  font-family: Michroma, sans;
}